@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

li{
  cursor: pointer;
}

button{
  background: transparent;
  border: 1px solid;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
}
